<h1><%= link_to 'Home', root_path %> &raquo; Samples</h1>
<p>All samples are listed here.</p>
<table>
  <thead>
    <tr>
      <th>Lab Number</th>
      <th>Site Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <%= render @samples %>
  </tbody>
</table>
