<fieldset>
  <legend>Publication #<%= f.object.id %></legend>
  <h3>Edit information about this Publication</h3>
  <ol>
    <%= form_field(f, :text_area, :citation, 'Citation') %>
  </ol>
</fieldset>
