<% content_for :nav do %>
  <h1><%= link_to 'Home', root_path %> &raquo; Publications</h1>
<% end %>
<p>All publications are listed here.</p>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Citation</th>
    </tr>
  </thead>
  <tbody>
    <%= render @publications %>
  </tbody>
</table>
