<h1>Home</h1>
<p>Welcome to the Laboratory of Archaelology's Maize Project</p>
<%= link_to 'Samples', samples_path %>
<%= link_to 'Publications', publications_path %>
<%= link_to 'Sites', sites_path %>