<fieldset>
  <legend>Maize Record</legend>
  <ol>
    <li>
      <label for="site_id">Site Id<em>*</em></label>
      <%= f.text_field :site_id %>
    </li>
    <li>
      <label for="age">Age<em>*</em></label>
      <%= f.text_field :age %>
    </li>
    <li>
      <label for="description">Description</label>
      <%= f.text_area :description %>
    </li>
  </ol>
</fieldset>