<h1>MaizeRecords#index</h1>
<p>Find me in app/views/maize_records/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Age</th>
      <th>Site Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @maize_records %>
  </tbody>
</table>
