<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>An HTML Document</title>
 </head>
 <body>
   <header><%= yield :header %></header>
   <nav><%= yield :nav %></nav>
   <%= yield %>
   <footer><%= yield :footer %></footer>
 </body>
</html>